<div class="login">
    <div class="registeration py-5">
        <div class="container mt-5">
            <div class="py-5">
                <h2 class="fw-bolder text-center">Login</h2>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="submitloginForm(loginForm)">
                <div class="formControl">
                    <label for="email">Email:</label>
                    <input formControlName="email" class="form-control" type="email">
                    <div class="alerts alert alert-danger mt-2 py-1" *ngIf="loginForm.get('email')?.errors != null && loginForm.get('email')?.touched">
                        <p class="mb-0" *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</p>
                    <p class="mb-0" *ngIf="loginForm.get('email')?.errors?.['email']">Email is invalid</p>
                    </div>  
                </div>
                <div class="formControl">
                    <label for="password">Password:</label>
                    <input formControlName="password" class="form-control" type="password">
                    <div  class="alerts alert alert-danger mt-2 py-1" *ngIf="loginForm.get('password')?.errors != null && loginForm.get('password')?.touched">
                        <p class="mb-0">Password is required</p>
                    </div>
                </div>
                <div class="submission">
                    <button type="submit" class="btn bg-primary text-white mt-3">login</button>
                    <div class="mt-4">
                        <span class="">Don't have an account ?! .. <a routerLink="/signup" class="">Signup</a> now</span>            
                    </div>
                </div>
            </form>
            <div class="alert errorAlert alert-danger mt-3" *ngIf="error">{{error}}</div>
        </div>
    </div>
</div>