.login {
    font-family: 'Roboto Slab', serif;
    min-height: 85vh;

    h2 {
        span {
            color: rgb(37, 97, 202);
        }
    }
}

form, .errorAlert {
    width: 50%;
    margin: auto;
}

@media (max-width: 765px) {
    form, .errorAlert {
        width: 90%;
    }
    .submission {
        text-align: center;
    }
}